.logo {
  margin-left: 25px;
}

.productDesc {
  margin-top: 75px;
  margin-left: 80px;
}

.siteHeader {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
}

.productDetail {
  margin-top: 10px;
  margin-bottom: 10px;
}

.productTitle {
  margin-bottom: 10px;
}

.productCategory {
  margin-top: 5px;
}

.sameline {
  margin-top: 25px;
  display: flex;
}

.reviews {
  margin-top: 4px;
  margin-left: 15px;
  font-size: small;
}

.thumbnail {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 55px;
  height: 55px;
  display: block;
  border-radius: 11px;
  border: 1px solid;
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
}

.car {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.buttons {
  font-weight: bold;
  background: white;
}

.imageDynamic {
  max-width: 100%;
  height: auto;
  width: auto;
}

.descriptionList {
  border-left: 1px solid grey;
  margin-bottom: 12px;
}

.rowPad {
  margin-top: 5px;
  align-items: center;
}

.descFeatures {
  font-style: italic;
}
.carouselImage {
  width: 100%;
  object-fit: cover;
  height: 620px;
  border-radius: 25px;
}

.carouselImage:hover {
  cursor: zoom-in;
}

.lol {
  width: 77px;
  height: 77px;
  border-radius: 2222px;
  object-fit: cover;
}

.lol:hover {
  border: 1.5px solid;
  cursor: pointer;
}

.styleThumb {
  width: 55px;
  height: 55px;
  border-radius: 2222px;
  object-fit: cover;
  margin-right: 10px;
  margin-top: 15px;
}

.styleThumb:hover {
  border: 1.5px solid;
  cursor: pointer;
}

.features {
  list-style: none;
  margin-bottom: 2px;
}

.redStrike {
  color: red;
  font-size: 23px;
}

.my-component {
  background: #fff;
}

.fullscreen-enabled .my-component {
  background: #000;
}

.full {
  z-index: 5;
  position: absolute;
  margin-left: 830px;
  margin-bottom: 580px;
}

.social {
  margin-top: 30px;
}

.color-nav {
  background-color: #778899;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.productmodal {
  position: fixed;
  top: 1vh;
  left: 12%;
  width: 75vw;
  height: 100%;
  background-color: white;
  padding: 0.5rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 100;
  overflow: hidden;
  animation: slide-down 300ms ease-out forwards;
  max-height: 100%;
  overflow-y: auto;
}

.productmodal img:hover {
  cursor: crosshair;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.productZoom {
  position: fixed;
  top: 1vh;
  left: 12%;
  width: 75vw;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 200;
  overflow: hidden;
}

.modalimage {
  object-fit: cover;
}

.productZoom img:hover {
  transform: scale(2.5);
}
.modalimage img {
  width: 100%;
  display: block;
}

.carouselExpandedImage {
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.fullscreenButton {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10;
  color: white;
}

.carousel-holder {
  position: relative;
}

.socialImages {
  margin-right: 15px;
  padding: 10px;
}

.styleBold {
  font-weight: bold;
}

.desc {
  margin-left: 70px;
}

.warning {
  margin-top: 45px;
  font-weight: bold;
  font-size: larger;
  font-style: italic;
  color: red;
}

.invisible {
  margin-top: 45px;
  opacity: 0;
}

.styleText {
  font-size: 23px;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
